/* Resetting default margin and padding */
body, html {
  margin: 0;
  padding: 0;
}

/* Styling the map container */
#map {
  height: 600px; /* Adjust the height as needed */
  width: 100%; /* Make the map fill the entire width of the page */
}

/* Styling for the legend */
.legend {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  opacity: 0.8;
}

/* Styling for popups */
.leaflet-popup-content {
  font-size: 12px;
  line-height: 1.5;
}